{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Eggu{% endblock %}

{% block content %}
<div id="main">
    <!--<img class="board_img" src="{% static 'eggu/opt_board_background_2.jpg' %}" alt="board background">
    <img class="image4" src="{% static 'eggu/opt_paper_background.jpg' %}" alt="paper background">-->

    <div id="kek">
        <h2 class="poop1">Je moet eten of anders sterf je</h2>
        <h1>{{ sandwich.title }}</h1>
        <img class="sandwich" src="{{ sandwich.image.url }}" alt="Lennys Sandwich">
    </div>

    <div id="kek2">
        <h2 class="poop2">Ingredients</h2>
        <div>
        {% for ingredient in sandwich.ingredient_set.all %}
            <div>
                <p class="ingredient"><a class="ingredient" href="{% url 'eggu:detail' pk=ingredient.pk %}">{{ ingredient.title }}</a></p>
            </div>
        {% endfor %}
        </div>
        <div class="meme">
            <img class="man-logo Lenny-pic" src="https://scontent-arn2-1.cdninstagram.com/vp/059a7eeb5789a91ce41ad93cdd669008/5D0B0AB3/t51.2885-19/s320x320/49795545_232721304171569_6735985845280440320_n.jpg?_nc_ht=scontent-arn2-1.cdninstagram.com" alt="meme">
            <a href="https://www.instagram.com/moylennard/" target="_blank">
                <img class="man-logo" src="{% static 'eggu/logo.svg' %}" alt="logo">
            </a>
        </div>
    </div>
</div>
{% endblock %}

