{% extends "layout.html" %}

{% block title %}
    {{ ingredient.title|default:"Make an ingredient" }} | Community Sandwich
{% endblock %}

{% block content %}
<div class="row columns">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title: {{ form.title }}</p>
        <p>Order: {{ form.order }}</p>
        <div id="form-flex-section">
            <div>
                {% if form.instance.image %}
                <p>Image:</p>
                <img src="{{ form.instance.image.url }}" width="700" alt="gamer ingredient" id="ingredient-image-form">
                {% endif %}
            </div>

            <p>Description:</p>
            {{ form.description }}

        </div>
        {% if form.instance.image %}
            <p>{{ form.image }}</p>
        {% else %}
            <p>Image: {{ form.image }}</p>
        {% endif %}
        <input type="submit" class="button">
    </form>
</div>
{% endblock %}
