{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}
    {{ ingredient.title }}
{% endblock %}

{% block content %}
<section class="ingredient-content-section">
    {% if ingredient.image %}
    <img src="{{ ingredient.image.url }}" width="700" alt="gamer ingredient" id="ingredient-image">
    {% else %}
    <div>
        <img src="{% static 'eggu/Question_mark.png' %}" width="400" alt="gamer ingredient">
        <p>The person who added this ingredient didn't upload a picture, feel free to add one yourself though</p>
    </div>
    {% endif %}

    <div>
        <h3 id="ingredient-description">{{ ingredient.description|linebreaks }}</h3>
    </div>

    {% if user.is_authenticated and ingredient.Sandwich == c_sandwich %}
        <br>
        <hr>
        <br>
        <h2><a href="{% url 'eggu:edit_ingredient' ingredient_pk=ingredient.pk %}">Edit ingredient</a></h2>
    {% endif %}
</section>
{% endblock %}
