{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
<body>
<h1>Je moet eten of anders sterf je.</h1>
{% block content %}{% endblock %}

<p>
    Do you have any improvements idéas for the next time Lenny is gonna make a sandwich?
    Feel free to fill in our <a href="{% url 'suggest' %}">suggestion form!</a>
</p>

<p>Do you have any questions? Don't hesitate to contact us at: {{ "MicrowavedHotDog@egg.com"|urlize }}</p>
</body>
</html>